.class {
    width: 100%;
    padding: 12px 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid ;
    box-sizing: border-box;
    color:gray;
    border-color:lightgray;
    border-radius: 5px;
    font-style:Arial;
  }
